.form{
    text-align: center;
    border: 1px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
}
.label{
    font-size: 1rem;
    margin: 1rem;
}
.heading{
    margin-bottom: 20px;
    margin-top: 20px;
}